
*{
  box-sizing: border-box;
}

header{
  height: 100px;
}
.one{
  height: 150px;
}
.two,.three{
  height: 200px;
  float: left;
  width: 40%;
}
.three{
  width: 60%;
}
footer{
  height: 100px;
  clear: both;
}

header,section,footer{
  border: 1px solid black;
}
