/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

header{
  height: 100px;
}
div{
  height: 150px;
}
section{
  height: 200px;
  float: left;
  width: 50%;
}
footer{
  height: 100px;
  clear: both;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

header,section,footer{
  border: 1px solid black;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
