<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Title in the tab</title>
		
		<!-- Friconix script for cutsom icons -->
		<!-- <script defer src="https://friconix.com/cdn/friconix.js"> </script> -->

		<!-- external CSS link -->
		<!-- fork awesome link -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
		<!-- google fonts link -->

		
		<!-- external CSS link -->
		<!-- <link rel="stylesheet" href="css/reset.css"> -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
