<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Title in the tab</title>

		<!-- Friconix script for cutsom icons -->
		<!-- <script defer src="https://friconix.com/cdn/friconix.js"> </script> -->

		<!-- external CSS link -->
		<!-- fork awesome link -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
		<!-- google fonts link -->

		<!-- external CSS link -->
		<!-- <link rel="stylesheet" href="css/reset.css"> -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	
	<body>
		<header>
			<nav>
				<ul>
					<li><a href="">Home</a></li>
					<li><a href="">About</a></li>
					<li><a href="">Services</a></li>
					<li><a href="">Examples</a></li>
					<li><a href="">Contact</a></li>
				</ul>
			</nav>
		</header>

		<main>
			<h1>This is an H1</h1>
			<h2>This is an H2</h2>
			<h3>This is an H3</h3>
			<h4>This is an H4</h4>
			<h5>This is an H5</h5>
			<h6>This is an H6</h6>
		</main>

		<article>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iusto, sequi, id fugit harum, et obcaecati culpa ratione incidunt corporis aliquam praesentium assumenda qui facere. Ducimus iure in debitis ad?</p>
		</article>

		<footer>

		</footer>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
