a:hover {  font-family: Verdana, Arial, Helvetica, sans-serif; color: #990000; background-color: d1d1ef; font-size: 8pt; text-decoration: none}
.burgandy {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #990000; text-decoration: none; font-weight: bold}
.navheader {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #333399; text-decoration: none}
.imagetitle {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-weight: normal; text-transform: capitalize; color: #333399; text-decoration: none}
.text {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt}
.navburgandy {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color: #990000; text-decoration: none}
.bluebold { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #333399; text-decoration: none; font-weight: bold }
.textbold { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt ; font-weight: bold}
