/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
nav a {
  color: blue;
}
/******************************************
/* LAYOUT
/*******************************************/
nav,main,aside,div,section {
  float: left
}
nav * {
  display: block;
  margin: 0;
  padding: 3px 3px;
}
nav input {
  border: 0;
  width: 100%;
}
nav {
  width: 10%;
  padding-left: 5px;
}

main {
  width: 50%;
  padding: 0 10px;
}

aside {
  width: 40%;
}
section {
  width: 33.3333%;
  padding: 0 10px;
}
div {
  margin-left: 10%;
}
img {
  max-width: 100%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/


/******************************************
/* RESPONSIVENESS
/*******************************************/

@media screen and (max-width: 1000px) {
  main {
    width: 90%;
  }
  aside {
    width: 90%;
    margin-left: 10%;
  }
  section {
    width: 100%;
  }
}