*{
  font-family: 'Helvetica', 'Arial', 'Calibri', sans-serif;
  color: white;
  background: #87ceeb;
}

section{
  margin: auto;
  margin-top: 30px;
  border: 3px solid #48cd31;
  padding: 20px;
  max-width: 800px;
}
a{
  color: #48cd31;
}
p,h1{
  font-family: 'Times', 'Times New Roman', serif;
}
h1{
  font-style: italic;
  font-size: 2.5rem;
  font-family: 'Times', 'Times New Roman', serif;
}
h2{
  font-size: 1.75rem;
}
p{
  font-size: 1.25rem;
}
img{
  width: 200px;
  float: right;
}
h1,nav{
  text-align: center;
}
ul{
  list-style: none;
}
li{
  display: inline-block;
  padding: 0 5px;
}
li + li{
  border-color: purple;
  border: 2px solid #808080;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
}
