*{
  box-sizing: border-box;
}

header{
  height: 100px;
}
section{
  float: left;
  height: 300px;
  width: 20%;
}

.sectionTwo{
  width: 40%;
}

footer{
  height: 100px;
  clear: both;
}

header,footer,section{
  border: 1px solid black;
}