/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
clear: both;
}

/******************************************
/* BASE STYLES #f7f8fa #dbdfe2 #66768a #161f2a
/*******************************************/

body {
  background: #f7f8fa;
  font-family: 'BenchNine', 'Arial Narrow', 'Helvetica', 'Arial', sans-serif;
}
p {
  font-size: 1.25rem;
}
header,header + section {
  background: #66768a;
}
header + section {
  color: #dbdfe2;
  border: 0;
}
header a,h1,h2,h3,h5 {
  font-weight: 700;
  margin: 0;
  padding: 20px 1% 0 1%;
  color: #f7f8fa;
  text-decoration: none;
  text-transform: uppercase;
}
h1 {
  font-size: 4.25rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.5rem;
}
h2,h3,h4 {
  color: #161f2a;
}
h5 {
  color: #66768a; 
  font-size: 1rem;
  padding-top: 10px;
}
header + section span {
  display: inline-block;
  vertical-align: bottom;
  border: 0;
  height: 35px;
  padding: 0;
  margin-bottom: -2px;
  text-transform: none;
  font-size: 1.25rem;
}
div section{
  background: #dbdfe2;
}
section span {
  border: 1px solid #161f2a;
  text-transform: uppercase;
  padding: 2% 5%;
}
footer,footer div {
  background: #161f2a;
}
footer div{
  border-top: 1px solid #dbdfe2;
}
footer address {
  font-weight: 300;
}
footer address, footer a,footer span{
  color: #dbdfe2;
  font-style: normal;
  text-decoration: none;
  text-align: left;
}
footer h5{
  color: #66768a;
  text-align: left;
 }
footer section + section h5 {
   color: #dbdfe2;
 }


/******************************************
/* LAYOUT
/*******************************************/
body * {
  text-align: center;
}
p{
  padding-bottom: 1rem;
}
header {
  height: 60px;
}
header nav a img {
  display: block;
  margin: 0 55% 0 45%;
}
header nav a {
  display: inline-block;
  width: 10%;
  padding: 5px 0;
  vertical-align: middle;
}
header nav > a:first-child + a + a {
  width: 60%;
}
header nav a:last-of-type {
  width: 15%;
}
header + section {
  padding: 0 10% 35px 10%;
}
header + section + section {
  padding: 0 20% 15px 20%;
}
div section:first-child{
  padding: 50px 1% 50px 10%;
}
div section + section{
  padding: 50px 10% 50px 1%;
}
header + section + section + div + section {
  padding: 0 20% 50px 20%;
}
nav span{
  background: #dbdfe2;
  color: #66768a;
  border-radius: 5px;
  padding: .5rem 1.5rem;
}
div section, footer section {
  float: left;
  width: 50%;
}
footer h5 {
  padding-left: 0;
}
footer a + a {
  font-weight: 700;
  padding-left: 10px;
}
footer section {
  display: inline-block;
  width: 40%;
  text-align: left;
  padding: 10px 30px;
}
footer section + section {
  width: 8rem;
  padding: 20px 0 0 0;
  position: absolute;
  right: 30px;
}
footer div{
  text-align: left;
  margin: 0 30px;
  padding-bottom: 30px;
}
footer div * {
  display: inline-block;
  vertical-align: middle;
}
footer div img {
  position: absolute;
  right: 30px;
}
footer section + section h5 + h5 {
  padding-top: 0;
  padding-bottom: 3%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/


/******************************************
/* RESPONSIVENESS
/*******************************************/

@media screen and (max-width: 800px) {
  div section:first-child,div section + section {
    width: 100%;
    padding: 50px 10%; 
  }
}