/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
  font-size: 100%;
}
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  max-width: 1050px;
  margin: 0 auto;
  background:rgba(216, 226, 230,1)
}
ul {
  list-style: none;
  padding: 0;
}
li{
  display: inline-block;
}
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2.5rem;
  margin-top: 1rem;
}
h1,h2,.price {
  font-family: 'Prata', 'Times New Roman', serif;
}
h3 {

}
h4{
  margin-bottom: 1rem;
  color: #ff8800;
}
h5{
  background:#ff8800;
  color: white;
}
.price {
  font-size: 1.5rem;
}
.dishName {
  font-size: 2rem;
}
.button{
  background: #ff8800;
  color: white;
}
span {
  color: white;
}
.star {
  color: #ff8800
}

/******************************************
/* LAYOUT
/*******************************************/

/* header and nav */
.top-container {
  width: 100%;
  aspect-ratio: 2;
  background: url(../first_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}
header {
  width: 100%;
}
header > a {
  float: left;
  margin: 2rem 0 0 6rem;
}
nav {
  float: right;
  margin-right: 2rem;
}
nav ul li{
  padding: 1rem;
}

div > header + section {
  float: left;
  width: 75%;
}

/* section One */

h1 {
  margin: 5% 4rem 1rem 4rem;
}
form {
  margin-left: 4rem;
}
form input {
  height: 2.5rem;
  width: 50%;
  margin: 0;
  border: 2px solid rgba(100,100,100,.25);
  border-radius: 10px;
  padding: 1rem;
}
form span {
  background: #ff8800;
  padding: .66rem 1rem;
  margin-left: -1rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
form + section {
  margin-left: 4rem;
  padding-top: 2rem;
}
form + section a {
  padding-right: 1rem;
}

/* section Two */

.containerTwo {
  width: 100%;
  aspect-ratio: 2;
  background: url(../secondbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}
.containerTwo > section {
  padding: 2rem 15% 5rem 40%
}
.containerTwo span {
  background: #ff8800;
  padding: .67rem 1rem;
  height: 2.5rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.containerTwo > section span + span {
  background: #ffaa4d;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* section Three */

.containerThree {
  text-align: center;
  padding-top: 3rem;
  background: linear-gradient(to right, rgba(216, 226, 230,1), 25%, rgba(243, 247, 248,1));
}
.containerThree > h4 + h2 + ul > li {
  border-bottom: 1px solid rgba(100,100,100,.25);
  padding: 10px;

}
.containerThree > h4 + h2 + ul > li:hover {
  color: #ff8800;
  border-bottom: 1px solid #ff8800;
}
.menuEx {
  background: rgba(100,100,100,.25);
  display: inline-block;
  width: 12rem;
  aspect-ratio: .75;
  margin-bottom: 2%;
  margin-right: 2%;
  vertical-align: top;
  border-radius: .5rem;
}
.containerThree section:nth-of-type(4n) {
  margin-right: 0;
}
h5{
  padding: .25rem .5rem;
  margin: .25rem;
  margin-left: 8rem;
  border-radius: 5px;
  display: inline-block;
}
h5 + .price {
  margin-top: 2rem;
}
.price {
  display: block;
  margin-top: 4rem;
}
.dishName {
  display: block;
  margin-bottom: 1rem;
}
.button{
  padding: .5rem;
  border-radius: 5px;
}
.indicatorList {
  margin: 0;
  padding: 2rem;
}
.indicator{
  border-radius: 50%;
  /* border: 4px solid #ff8800; */
  background: #ffaa4d;
  width: .5rem;
  aspect-ratio: 1;
  margin: 0 .5rem 0 .5rem;
  transition-duration: 100ms;
  vertical-align: middle;
}
.indicatorMenuOne:hover,
.indicatorMenuTwo:hover,
.indicatorMenuThree:hover,
.indicatorMenuFour:hover,
.indicatorMenuFive:hover,
.indicatorMenuSix:hover,
.indicatorTestimonyOne:hover,
.indicatorTestimonyTwo:hover,
.indicatorTestimonyThree:hover,
.indicatorTestimonyFour:hover,
.indicatorTestimonyFive:hover{
  transition-duration: 100ms;
  background: #ff8800;
  width: 1rem;
  aspect-ratio: 1;
  /* border-width: 7px; */
}
.indicatorMenuOne:active,
.indicatorMenuTwo:active,
.indicatorMenuThree:active,
.indicatorMenuFour:active,
.indicatorMenuFive:active,
.indicatorMenuSix:active,
.indicatorTestimonyOne:active,
.indicatorTestimonyTwo:active,
.indicatorTestimonyThree:active,
.indicatorTestimonyFour:active,
.indicatorTestimonyFive:active{
  transition-duration: 100ms;
  background: #ffaa4d;
  width: 1.25rem;
  aspect-ratio: 1;
  /* border-width: 10px; */
}

/* section Four */

.containerFour {
  text-align: center;
  padding-top: 3rem;
  background: linear-gradient(to right, rgba(243, 247, 248,1), 75%, rgba(216, 226, 230,1));
}
.hours {
  width: 75%;
  margin-left: 20%;
}
.hoursLeft,.hoursRight {
  display: inline-block;
  width: 45%;
  text-align: left;
}
.containerFour .gallery {
  width: 100%;
}
.gallery span,.gallery img {
  display: inline-block;
  color:#ff8800;
  font-size: 2rem;
  vertical-align: middle;
}
.gallery img {
  max-width: 50%;
  margin-bottom: 5rem;
}
.gallery span {
  border: 1px solid #ff8800;
  border-radius: 50%;
  padding: 0;
  margin: 0 3%;
  text-align: center;
  vertical-align: middle;
  width: 3rem;
  aspect-ratio: 1;
}

/* section Five */

.containerFive {
  text-align: center;
  padding-top: 3rem;
  background: linear-gradient(to right, rgba(216, 226, 230,1), 25%, rgba(243, 247, 248,1))
}

.containerFive p {
  width: 75%;
  margin: 0 auto;
}

#customerPhoto {
  border-radius: 50%;
  width: 200px;
  box-shadow: 1px 3px 10px 1px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.firstSpesh{
  background: url("../img4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 150ms;
}
.firstSpesh *,
.secondSpesh *,
.thirdSpesh *,
.fourthSpesh *,
.fifthSpesh *,
.sixthSpesh *,
.seventhSpesh *,
.eighthSpesh * {
  transition-duration: 150ms;
  opacity: 0;
}
.firstSpesh:hover {
  background: linear-gradient(to top, rgba(25,25,25,.3), rgba(25,25,25,.75)), url("../img4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 150ms;
}
.firstSpesh:hover *,
.secondSpesh:hover *,
.thirdSpesh:hover *,
.fourthSpesh:hover *,
.fifthSpesh:hover *,
.sixthSpesh:hover *,
.seventhSpesh:hover *,
.eighthSpesh:hover * {
  transition-duration: 150ms;
  opacity: 1;
}

.secondSpesh{
  background: url("../img5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 150ms;
}
.secondSpesh:hover {
  background: linear-gradient(to top, rgba(25,25,25,.3), rgba(25,25,25,.75)), url("../img5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 150ms;
}

.thirdSpesh{
  background: url("../img6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 150ms;
}
.thirdSpesh:hover {
  background: linear-gradient(to top, rgba(25,25,25,.3), rgba(25,25,25,.75)), url("../img6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 150ms;
}

.fourthSpesh{
  background: url("../img7.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 150ms;
}
.fourthSpesh:hover {
  background: linear-gradient(to top, rgba(25,25,25,.3), rgba(25,25,25,.75)), url("../img7.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 150ms;
}

.fifthSpesh{
  background: url("../img8.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 150ms;
}
.fifthSpesh:hover {
  background: linear-gradient(to top, rgba(25,25,25,.3), rgba(25,25,25,.75)), url("../img8.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 150ms;
}

.sixthSpesh{
  background: url("../img9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 150ms;
}
.sixthSpesh:hover {
  background: linear-gradient(to top, rgba(25,25,25,.3), rgba(25,25,25,.75)), url("../img9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 150ms;
}

.seventhSpesh{
  background: url("../img10.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 150ms;
}
.seventhSpesh:hover {
  background: linear-gradient(to top, rgba(25,25,25,.3), rgba(25,25,25,.75)), url("../img10.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 150ms;
}

.eighthSpesh{
  background: url("../img2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 150ms;
}
.eighthSpesh:hover {
  background: linear-gradient(to top, rgba(25,25,25,.3), rgba(25,25,25,.75)), url("../img2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 150ms;
}


/******************************************
/* RESPONSIVENESS
/*******************************************/